.user-profile .profile nav ul  .active a{

 color: #000;

}

.user-profile .profile nav ul  .active{

    background-color: rgba(172, 175, 176, 0.07);

}
/*cart discount */
  .shipping-discount {
    height: 30px;
    line-height: 30px;
    background: #E3106E;
    display: block;
    color: #fff;
    padding-left: 5px;
    font-weight: 700;
    font-size: 14px;
  }
  .discount-price{
  text-decoration: line-through;
  color: red;
}
.slider-right__money{
  line-height: 0px !important;
}
.qty_unit
{
 min-height: 27px;
}

.bg-custom {

  background-color: #E3106E;

}
/*cart discount */

/*invoice order */
.invoice-header p{
  font-size: 13px !important;
}
/*invoice order */

/* checkout cart empty design  */

.cart-icon{
  background-color: rgba(227, 16, 110, 0.1);
 border-radius: 50px;
 width: 100px;
 height: 100px;
 color: #fff;
 margin: 0 auto;
 text-align: center;
 }
 .cart-icon i {
     color: #e3106e;
     font-size: 50px;
     line-height: 100px;
 }

 .shopping-now
 {
     color: #e3106e;
 }

/* checkout cart empty design  */

/* custome input box stripe  */

.stripe_input {

   margin-top: 10px;
   background-color: #fff;

}

.more-less {
 color: #E3106E !important;
 font-size: 14px;
}

.custom-cart-total {
text-align: center;
background: #fff;
border-radius: 5px;
color: #E3106E;
font-weight: 700;
}

.cart-bottom {

position: fixed !important;
bottom: 0 !important;
left: 0 !important;
color: #000;
background-color: #fff;
width: 100%;
height: 47px;
box-shadow: 0 -1px 10px #ccc;
webkit-transform: translateZ(0);
z-index: 100;

}

.no-padding
{
 padding: 0px !important;
}

.price-bottom
{

  /* color: #E3106E; */
  font-size: 15px;
  font-weight: bold;
  text-align: center;

}

.login-with-social {

   font-size: 15px;
   margin-bottom: 10px;

}
.login-headline {

  font-size: 2em;
  text-transform: uppercase;



}

.sign-up-input
{
  margin-top: 20px;
height: 50px;
font-size: 16px;
}

.ml-social {
  margin-left: 10px;
}

/* added to cart box design  */
.cart-btn
{
border: 1px solid rgba(37, 37, 37, .2);
color: #252525;
transition: 1s ease all;
margin-top: 15px;
width: 100%;
}

.item-cart
{
  width : 100%;
  height : 40px;
  /* display: inline; */
  border: 1px solid #e6e6e6;

}

.qty-minus {
  width: 20%;
  /* border-radius: 25px 0 0 25px; */
  height: 100%;
  line-height: inherit;
  line-height: 45px;


}

.qty-minus i {
 color :red;
 font-weight: bolder;
 font-size: 1.1em;
 text-align: center;

}
.qty-plus {
  width: 20%;
  /* border-radius: 0 25px 25px 0; */
  height: 100%;
  line-height: 40px;
}

  .qty-plus i {
 color :green;
 font-weight: bolder;
 font-size: 1.1em;
}

.qty-text{
  width: 60%;
  line-height: 40px;
  background-color: #e6e6e6;
}
.qty_unit_details {

  margin-top:-15px;
  font-size:1.2em
}

/* custome input box stripe  */

/* order completed design  */
.order_box{
  margin-top : 30px;
}

.order_box .box {

padding-top    : 30px;
padding-bottom : 30px;

}

.order-heading h2{
 color : #32BEA6;
 margin-bottom: 20px;
}
.order-body {

margin-top : 30px;
padding : 15px;
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;

border-color : #32BEA6;

}

.error_status{

  border-color : red !important;
}

.order-footer {
  margin-top : 30px
}
/* order completed design  */

/* checkout cart  */
  .shipping-discount {
    height: 30px;
    line-height: 30px;
    background: #E3106E;
    display: block;
    color: #fff;
    padding-left: 5px;
    font-weight: 700;
    font-size: 14px;
  }
  .discount-price{
  text-decoration: line-through;
  color: red;
}
/* checkout cart  */
.fb_dialog_advanced {
  /* border-radius: 0px !important; */
  padding: 0px !important;
  }
/* sidebar left  */
.fb_dialog {
  z-index : 899 !important;
  bottom : 50px !important;

}

.willDisplay{
display : block !important;
}
/* sidebar left  */

/* menu active bg  */

   /* .active_bg_color > a{
    background-color: #fff9f9;
    color: #000;
   } */
/* menu active bg  */

/* color radio button design  */
.btn i.fas {
	opacity: 0;
}
.btn.active i.fas {
	opacity: 1;
}
/* color radio button design  */

/* checkout form design  */

.form-checkout {

background-color: #e4e4e4;
border: none;
color: #000;

}
.form-checkout:focus {

background-color: #e4e4e4;
color: #000;

}

 select.form-checkout {
  color: #000 !important;
}

.checkout-heading {
background: #0B0B0B;
height: 100%;
color: white;
}

/* checkout form design  */


/* right side sign in button design*/

.signin-button {
    border: none !important;
    background: #ff686e;
    float: right;
    color: white;
    padding: 18px 0px;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    right: 0;
    overflow: hidden;
    max-width: 174px;
    min-width: 174px;
    max-height: 55px;
}
.signin-button:focus{
    outline: none;
    /*outline-color: none;*/

}
/* right side sign in button design*/


/*others button css*/

.other-buttons {
    display: inline-flex;
    padding: inherit;
    align-items: center;
    justify-content: space-between;
    float: left;
    width: 52%;
    height: inherit;
}
.other-buttons .language-button{
    display: flex;
}
.other-buttons .language-button .bangla-text{
    transition: 0.3s all ease;
}
.other-buttons .language-button .bangla-text:hover{
    color: #ff686e;
}
.other-buttons a .middle-span {
    color: #615e58;
    margin: 0px 6px;
    font-weight: bold;
}
.other-buttons a .middle-span{
    color: #615e58;
}
.other-buttons a{
    border: none !important;
    font-weight: bold;
    font-size: 14px;
    padding: 17px 8px;
    border-left: 1px solid #dfb547 !important;
    color: #615e58 !important;
    max-height: 55px;
}
.other-buttons .other-button-hover{
    transition: 0.3s all ease;
}
.other-buttons .other-button-hover span{
    color: #615e58;
}
.other-buttons .other-button-hover:hover{
    background:#dfb547;
}
.other-buttons a i{
    font-size: 19px;
    font-weight: 900;
    color: #615E58;
}
.other-buttons .home-button{
    min-width: 100px;
    height: inherit;
    align-items: center;
    color: black;
    font-size: 14px;
    justify-content: space-between;
}
.other-buttons .help-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #dfb547 !important;
}



/*others button css*/
/*google translate*/
#google_element {
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
    margin-left: 6%;
}
.goog-te-banner-frame{
    display: none !important;
}
#app_body{
    top: 0 !important;
}
.goog-logo-link, .goog-logo-link:link, .goog-logo-link:visited, .goog-logo-link:hover, .goog-logo-link:active{
    display: none !important;
}
.goog-te-gadget .goog-te-combo {
    border: none;
    background: none;
    width: 80px;
    position: relative;
    top: 7px;
}
.goog-te-gadget .goog-te-combo:focus-visible{
    outline: none;
}

.google-translate {
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
}

.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
}

#google_translate_element {
    display: none;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}




/*.skiptranslate{*/
/*    display: none;*/
/*}*/
/*google translate*/



/* product carousel slider button design*/
.VueCarousel-navigation .VueCarousel-navigation-prev{
    transform: translateY(-50%) translateX(-100%) !important;
    width: 60px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #ff686e !important;
    position: absolute !important;
    height: 113px;
    left: -52px !important;
}

.VueCarousel-navigation .VueCarousel-navigation-next{
    transform: translateY(-50%) translateX(-100%) !important;
    width: 60px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #ff686e !important;
    position: absolute !important;
    height: 113px;
    right: -170px!important;
}
/* product carousel slider button design*/

/* order system slider carousel design*/
.order-slider-ol {
    position: absolute;
    bottom: 0;
    left: 55%;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}
.order-slider-ol li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    border-radius: 50%;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #ff686e;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
.order-carocel-button{
    display: none !important;
}

@media only screen and (max-width: 768px) {
    .VueCarousel-navigation .VueCarousel-navigation-next{
        display: none !important;
    }
}
/* order system slider carousel design*/


/* why chose us section style*/
#whyChoseUs .col{
    padding: 0;
}
#whyChoseUs .card{
    border: none;
    border-radius: 0;
    min-height: 250px;
}
#whyChoseUs .c1{
    border-bottom: 3px solid greenyellow;
}
#whyChoseUs .c2{
    border-bottom: 3px solid orange;
}
#whyChoseUs .c3{
    border-bottom: 3px solid #00b7ff;
}
#whyChoseUs .card-bg-image {
    width: 100%;
    height: 100%;
    background-size: cover !important;
}
#whyChoseUs .c1 .card-bg-image {
    background: url("https://media.gettyimages.com/photos/delivery-biker-looking-over-their-shoulder-picture-id1307965024?s=2048x2048") no-repeat;
}
#whyChoseUs .c2 .card-bg-image {
    background: url("https://previews.123rf.com/images/cgdeaw/cgdeaw1808/cgdeaw180800075/106577384-fig-fruit-ficus-racemosa-fig-on-tree-nature-fig-forest-fruit-fig-red-and-green-thai-fruits.jpg?fj=1") no-repeat;
}
#whyChoseUs .c3 .card-bg-image {
    background: url("https://s3.envato.com/files/315822185/132_1R3A9538.jpg") no-repeat;
}
#whyChoseUs .card-body{
    padding: 0;
}
#whyChoseUs .card-body .card-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    bottom: 0;
    position: absolute;
    width: 100%;
    background: rgba(255,255,255,.8);
    height: 69%;
    padding: 15px;
}
#whyChoseUs .card-body .card-content h3 {
    color: black;
    font-size: 20px;
    font-weight: normal;
    font-family: arial;
}
#whyChoseUs .card-body .card-content p {
    color: black;
    font-size: 15px;
    text-align: center;
}

/* why chose us section style*/




/*{{--   business deal area--}}*/
#business-deal{
    margin-top: 50px;
}
#business-deal .section-background:after {
    content: "";
    background: linear-gradient(60deg, #0e0e0cc4, #05264ad4);
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    z-index: -1;
}
#business-deal .section-background{
    background-image: url("https://media.istockphoto.com/photos/bookshelf-in-public-library-picture-id831651876");
    width: 100%;
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

#business-deal .main-area {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
#business-deal .main-area .single-card {
    border: none;
    min-height: 190px;
    min-width: 250px;
    background: #80808054;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 19px;
}
#business-deal .main-area .topsection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 13px;
}
#business-deal .main-area .topsection p:first-of-type {
    color: #fff;
    font-size: 21px;
    font-weight: normal;
}
#business-deal .main-area .topsection p:last-of-type {
    color: #fdd670;
    font-size: 21px;
    font-weight: normal;
}

#business-deal .main-area .topsection i.lni.lni-briefcase {
    color: white;
    margin-bottom: 25px;
    font-size: 96px;
}
#business-deal .main-area .single-card p{
    color: white;
    font-size: 14px;
}
#business-deal .main-area .single-card i.lni.lni-phone {
    color: white;
    font-size: 96px;
}
#business-deal .main-area .single-card i.lni.lni-delivery {
    color: white;
    font-size: 96px;
}

#business-deal .main-area .single-card i.lni.lni-invest-monitor{
    color: white;
    font-size: 96px;
}

#business-deal .main-area .bottomsection .custom-btn {
    background: #ff686e;
    border: none;
    outline: none;
    border-radius: 0;
    color: white;
    padding: 12px 25px;
}
/*{{--   business deal area--}}*/

/* buisness app styles*/

#businessApp .app-left-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#businessApp {
    min-height: 400px;
    margin-top: 50px;
}

#businessApp img{
    float: right;
    max-width: 300px;
}
#businessApp .form-group {
    display: flex;
    height: 54px;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    background: #f7f4f4;
    border-radius: 7px;
    padding-left: 12px;
}
#businessApp .form-group img{
    margin-top: 10px;
}
#businessApp .form-group input[type="text"] {
    padding: 7px;
    border: none;
    background: transparent;
}
#businessApp .app-buttons img{
    max-width: 185px;
}
#businessApp .form-group input[type="text"]:focus-visible{
    border: none;
    outline: none;
}
#businessApp .form-group .getapp-button {
    background: #ff686e;
    color: white;
    padding: 14px 29px;
    border-radius: 0px 5px 5px 0px;
}
#businessApp .form-group input[type="text"]:focus-visible .form-group{
    border: 2px solid #ff686e;
}
#businessApp .app-left-section p{
     top: -62px;
     position: relative;
     font-size: 20px;
     color: black;
 }
/* buisness app styles*/




/*  city and services counter section*/

#customerCounter{
    background: #3a3a3a;
}

#customerCounter .app-left-section img{
    max-height: 430px;
}
#customerCounter .counter-content p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 35px;
    font-weight: bold;
    line-height: 53px;
    color: white;
}

#customerCounter .counter-content p span{
    color: #fdd670 ;
}
/*  city and services counter section*/


/*single product css*/
/*.offer{*/
/*    position: relative;*/
/*    transition: 0.3s all ease;*/
/*}*/
/*.offer .overlay {*/
/*    opacity: 0;*/
/*}*/

/*.offer:hover .overlay {*/
/*    opacity: 1;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    height: 91%;*/
/*    background: rgba(40, 40, 40, .75);*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    font-weight: 700;*/
/*}*/

/*.offer:hover .overlay p{*/
/*    color: white;*/
/*}*/

.offer{
    position: relative;
}
.offer-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 88.7%;
    background: rgba(0,0,0,0.8);
    border-radius: 0;
    opacity: 0;
    /*transition: 0.4s all ease;*/
}
.offer-overlay p{
    color: #FFFFFF;
    padding: 78% 26% 61% 26%;
}
.offer:hover .offer-overlay{
    opacity: 1;
}

.this_is_my_personal_div{
    padding-bottom:50px !important;
}


.offer-card-bottom-button {
    position: absolute;
    bottom: -1px;
    background: white;
    padding: 2px 0px;
    display: block;
    width: 100%;
    font-size: 13px;
    border: 1px solid #cdc6c6;
    color: black;
    border-top: none;
}
.offer-card-bottom-button:hover{
    color: black !important;
}

/*user profile icon hover dropdeown menu*/
.profile-button {
    border: none !important;
    background: #ff686e;
    float: right;
    color: white;
    padding: 15px 45px;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    right: 0%;
}
.user-menu:hover .dropdown-menu1 {
    display: block;
    position: absolute;
    right: -69%;
    top: 100%;
}
/*user profile icon hover dropdeown menu*/


/* carosel height manage*/
.carousel{
    min-height: 325px;
}
.carousel-inner{
    height: 100%;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active{
    height: 100%;
}
.carousel .carousel-item img{
    height: 100%;
}

/* carosel height manage*/

/*bottom pay with us section*/

.left-side-content {
    display: flex;
    align-items: center;
}
.left-side-content .single {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: 20px;
}
.left-side-content .single img{
    width: 20px;
}
.left-side-content .single p{
    padding-left: 10px;
    padding-top: 7px;
    font-size: 15px;
}
.payment-delivery {
    background: #f3f3f3;
    padding: 0 7px;
}

.right-side-content{
    float: right;
}
.right-side-content ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-side-content ul li{
    margin: 0px 10px;
}
.right-side-content ul li img{
    height: 45px;
}
/*bottom pay with us section*/

/*new footer design like chaldal*/
.main_footer_area .footer_about {
    font-size: 15px;
    line-height: 19px;
    text-align: justify;
    color: #615e58;
}

.main_footer_area .footer_bottom{
    margin-top: 50px;
}
.main_footer_area .footer_bottom_row{
    align-items: flex-start;
    justify-content: flex-start;
}
.main_footer_area .footer_bottom_row .footer-menu h4 {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 10px;
    width: 118%;
    font-weight: 500;
    color: #615e58;
}
.main_footer_area .footer_bottom_row .footer-menu ul li{
    line-height: 25px;
}
.main_footer_area .footer_bottom_row .footer-menu ul li a{
    font-size: 15px;
    color: #615e58;
}
.main_footer_area .footer_bottom_row .footer-menu ul li a:hover{
    color: #615e58;
}

.app_icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;
}
.main_footer_area .app_icon img{
    max-height: 45px;
}
.main_footer_area .number_or_mail{
    text-align: right;
    font-size: 25px;
    color: #615e58;
    font-weight: 700;
}
.main_footer_area .number_or_mail span{
    font-weight: 100 !important;
    margin-right: 5px;
    color: #b3b3b3ad;
    font-size: 14px;
}
.main_footer_area .socal_icon ul{
    display: flex;
    margin-top: 25px;
    float: right;
}
.main_footer_area .socal_icon ul li img{
    max-height: 45px;
}
.main_footer_area .footer_border_right{
    border-right: 1px solid #e7e7e7;
}
footer{
    background-color: #f7f7f7;
}
/*new footer design like chaldal*/

.margin_left_250{
    margin-left: 220px !important;
}
.margin_left_0{
    margin-left: 0 !important;
}


@media (min-width: 300px) {
    #businessApp{
        margin-top: 7rem !important;
    }
    #businessApp .app-buttons {
        display: flex;
    }
    /*#content {*/
    /*    margin-left: 0px !important;*/
    /*}*/
/*    find more button*/
    .sm_mb_5_findmore{
        margin-bottom: 3rem !important;
    }
}
@media only screen and (max-width: 769px){
    #content {
        margin-left: 0px !important;
    }
    .user-menu:hover .dropdown-menu1 {
        display: block;
        position: absolute;
        top: 83%;
        left: -42px;
        right: 0;
    }
    .carousel {
        min-height: 210px;
    }
    .category .box .content h3{
        font-size: 13px;
    }
}
@media (max-width: 992px) and (min-width: 576px){
    .sm_display{
        display: none !important;
    }
    .mid_display{
        display: block !important;
    }
    .profile-button{
        right: -33%;
    }
    #customerCounter .app-left-section img {
        max-height: 230px;
    }
    #customerCounter .counter-content p {
        font-size: 22px;
        line-height: 31px;
    }
    #businessApp .app-left-section{
        display:block;
    }
    #businessApp img {
        float: right;
        max-width: 150px !important;
    }
    #businessApp .form-group .getapp-button {
        background: #ff686e;
        color: white;
        border-radius: 0px 5px 5px 0px;
        font-size: 14px;
        padding: 4px 30px;
        width: 100%;
    }
    .payment-delivery .display_sm_style{
        flex-direction: column;
        align-content: center;

    }
    .payment-delivery .display_sm_style .left-side-content{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    #businessApp .form-group .getapp-button {
        padding: 15px 24px;
        font-size: 14px;
    }
    .message{
        margin-top: 50px;
    }
    .app-left-section{
        display: flex;
    }
    #customerCounter .app-left-section img {
        max-height: 250px;
        margin: auto;
    }
    #customerCounter .counter-content p {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 26px;
        font-weight: bold;
        line-height: 35px;
        color: white;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px){
    .profile-button{
        background: none !important;
        padding: 6px 45px;
        right: 0%;
    }
}
@media (max-width: 992px) and (min-width: 320px){

    .main_footer_area .number_or_mail{
        text-align: center;
    }
    .main_footer_area .socal_icon ul {
        margin-top: 25px;
        text-align: center;
        display: block;
        float: none;
    }
    .main_footer_area .socal_icon ul li{
        display: inline;
    }
    .left-side-content {
        flex-direction: column;
    }
    .main_footer_area .footer_border_right {
        text-align: center;
        border-right: none;
    }
    .main_footer_area .footer_about {
        font-size: 12px;
        padding: 0px 20px;
    }
    .main_footer_area .footer_bottom_row .footer-menu h4{
        width: 100%;
    }
    .sm-margin-right{
        margin-right: 0;
    }
}
@media (max-width: 320px) {
    .profile-button{
        background: none !important;
    }
}
